# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
venv/
.venv/
env/
.env

# Docker / Bases de datos locales
postgres_*_data/
redis_data/
minio_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db